<div class="entity-details-content position-relative box-shadow space-inner-px space-inner space-padding container mb-5">
  {% if can_edit and formset %}
    <div class="btn-group position-absolute end-0 top-0" role="group" aria-label="Basic example">
      <button type="button" data-bs-toggle="modal" data-bs-target="#{{ modal_id|default:'exampleModal' }}" class="btn btn-outline-primary me-0 ms-auto entity-action-element">Edit</button>

      {% for action in actions %}
        <a href="{{ action.url }}" class="btn btn-outline-primary">{{ action.label }}</a>
      {% endfor %}
    </div>
    {% include 'v_utilities/snippets/modal-form.html' with formset=formset %}
  {% endif %}
  {% if body %}
    <h2 class="text-dark">{{ body_title|default:'Description' }}</h2> <div>{{ body|safe }}</div>
  {% endif %}
  {% if files %}
    <h2>{{ file_title|default:'Attachement Files' }}</h2>
    <ul class="list-group">
      {% for file in files %}
        <li class="list-group-item d-flex alin-items-center">
          <span class="flex-grow-1 d-flex align-items-center">{{ file.file.name }}</span>
          <a href="{{ file.file.url }}" class="btn-outline-light fw-bold btn btn-primary" download>Download PDF</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
