<!-- templates/users/login.html -->
{% extends 'users/dashboard.html' %} {% load static %} {% load custom_filters %}
{% block title %}
  Dashboard
{% endblock %} {% block header %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'users/css/dashboard-table.css' %}" />
  <link rel="stylesheet" href="{% static 'users/css/course-details.css' %}" />
{% endblock %} {% block bottom %}

{% endblock %} {% block pageTitle %}
  <div>
    <h2 class="text-black">Détails du cours</h2>
  </div>
{% endblock %} {% block content %}
  <div class="vaybe-dashboard course-details-page">
    <div>
      <div class="body-header space-padding course-details-header d-flex justify-content-center">
        <div class="course-info left primary mb-5">
          <h2 class="dashboad-student info-section-title text-black text-uppercase center dot-center text-center double-dots-title circle primary mb-5">{{ course.label }}</h2>
          <table class="table table-borderless text-center">
            <tbody>
              {% if course.code_ue %}
                <tr>
                  <th scope="row" class="label">Code</th>
                  <td class="value">{{ course.code_ue }}</td>
                </tr>
              {% endif %} {% if course.year %}
                <tr>
                  <th scope="row" class="label">Year</th>
                  <td class="value">{{ course.year }}</td>
                </tr>
              {% endif %} {% if course.study_field %}
                <tr>
                  <th scope="row" class="label">Speciality</th>
                  <td class="value">{{ course.study_field }}</td>
                </tr>
              {% endif %} {% if course.study_level %}
                <tr>
                  <th scope="row" class="label">Study Level</th>
                  <td class="value">{{ course.study_level }}</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      {% include 'v_utilities/snippets/entity-content.html' with body_title='Description' body=course.description files=course.files %}

      <div class="course-details-teacher container py-5 mb-5">
        <div class="row justify-content-around">
          {% for teacher in course.teachers %}
            <div class="user-card py-3 px-3 col-sm-6 col-md-4">
              {% include 'users/snippets/user-block.html' with user=teacher %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
