<!-- templates/users/login.html -->
{% extends 'users/dashboard.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}
  Dashboard
{% endblock %}

{% block header %}
  <link rel="stylesheet" href="{% static 'users/css/dashboard.css' %}" />
  <link rel="stylesheet" href="{% static 'users/css/dashboard-table.css' %}" />
{% endblock %}

{% block bottom %}
  <script src="{% static 'js/dashboard-table.js' %}"></script>
{% endblock %}

{% block content_class %}

{% endblock %}

{% block pageTitle %}
  <div class="title-section bg-black d-flex justify-content-center py-4">
    <div>
      <h1 class="text-center text-white fw-bold mb-0">{{ header.title }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="vaybe-dashboard">
    <div>
      <div class="body-header space-padding bg-white d-flex justify-content-center">
        <div class="dashboard-user-info space-inner-px w-auto">
          <h2 class="dashboad-studentinfo-section-title fw-bolder text-black text-uppercase double-dots-title dot-center text-center circle primary mb-5">Your infos</h2>
        </div>
      </div>
      <div id="v-table-container" class="container dashboard-table" data-settings="{{ jsonSettings }}" data-source-url="{{ data_source }}" data-csrf-token="{{ csrf_token }}">
        {% block content_table %}
        <table class="w-100 mb-1 custom-table table">
          <thead>
            <tr class="bg-dark">
              {% for header in tableSettings.table_header %}
                <th scope="col" class="py-5 px-3 text-white bg-dark">{{ header.label }}</th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        {% endblock %}
        <div class="table-placeholder placeholder-wave">
          <div class="placeholder mb-1 placeholder-lg"></div>
          <div class="placeholder mb-1 placeholder-lg"></div>
          <div class="placeholder mb-1 placeholder-lg"></div>
          <div class="placeholder mb-1 placeholder-lg"></div>
        </div>
        {% for course in courses %}{% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
