<!-- templates/users/login.html -->
{% extends 'v_utilities/dashboard-table.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
  Dashboard
{% endblock %}
{% block header %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'users/css/dashboard.css' %}" />
  <link rel="stylesheet" href="{% static 'v_utilities/css/form-base.css' %}" />
  <link rel="stylesheet" href="{% static 'users/css/dashboard-table.css' %}" />
{% endblock %}
{% block bottom %}
  {{ block.super }}
  <script src="{% static 'js/dashboard-table.js' %}"></script>
{% endblock %}
{% block content_class %}

{% endblock %} {% block pageTitle %}
  <div class="title-section bg-black d-flex justify-content-center py-4">
    <div>
      <h1 class="text-center text-white fw-bold mb-0">{{ header.title }}</h1>
    </div>
  </div>
{% endblock %}
{% block banner_label %}
  {% if title %}
    {{ title }}
  {% endif %}
{% endblock %}
{% block content_table %}
  <div class="body">
    <form method="post" class="custom-register-form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      {{ formset.management_form }}
      {% for subform in formset %}
        {{ subform.as_p }}
      {% endfor %}
      <button type="submit">Register</button>
    </form>
  </div>
{% endblock %}

{% block placeholder %}

{% endblock %}
