{% extends 'v_utilities/dashboard-table.html' %}

{% load static %}

{% block header %}

{% endblock %}

{% block bottom %}
  <script src="{% static 'scheduling/schedule-manager.js' %}"></script>
{% endblock %}

{% block pageTitle %}
  <div class="title-section bg-black d-flex justify-content-center py-4">
    <div>
      <h1 class="text-center text-uppercase text-white fw-bold mb-0">{{ title|default:'Scheduling' }}</h1>
    </div>
  </div>
{% endblock %}
{% block banner_label %}
  {{ banner_title|default:'Your schedules' }}
{% endblock %}

{% block content_table %}
  <div id="app" data-url-get-schedules="{% url 'view_schedules' %}" data-csrf-token="{{ csrf_token }}" data-course-url="/course-manager/course/[id]"></div>
{% endblock %}
