<!-- templates/users/login.html -->
{% extends 'base.html' %} {% load static %}
{% block title %}
  Dashboard
{% endblock %}

{% block header %}
  <link rel="stylesheet" href="{% static 'users/css/dashboard.css' %}" />
{% endblock %}

{% block bottom %}

{% endblock %}

{% block content_class %}

{% endblock %}

{% block pageTitle %}
  <div class="title-section bg-black d-flex justify-content-center py-4">
    <div>
      <h1 class="text-center text-white fw-bold mb-0">{{ title }}</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="vaybe-dashboard">
    <div>
      <div class="body-header space-padding bg-white d-flex justify-content-center">
        <div class="dashboard-user-info space-inner-px w-auto">
          <h2 class="dashboad-studentinfo-section-title fw-bolder text-black text-uppercase double-dots-title dot-center text-center circle left primary mb-5">
          {% block banner_label %}
          Your infos
          {% endblock %}
          </h2>
          <table class="table table-borderless">
            <tbody>
              {% if user.name %}
                <tr class="user--name">
                  <th scope="row" class="label">Name</th>
                  <td class="value">{{ user.name }}</td>
                </tr>
              {% endif %}
              {% if user.surname %}
                <tr class="user--surname">
                  <th scope="row" class="label">Prenom</th>
                  <td class="value">{{ user.surname }}</td>
                </tr>
              {% endif %}
              <tr class="user--matricule">
                <th scope="row" class="label">Matricule</th>
                <td class="value">{{ user.matricule }}</td>
              </tr>
              <tr class="user--study-level">
                <th scope="row" class="label">Niveau Etude</th>
                <td class="value">{{ user.std_level }}</td>
              </tr>
              <tr class="user--std-field">
                <th scope="row" class="label">Filière</th>
                <td class="value">{{ user.std_field }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="space-inner-px space-inner-py dashboard-menu container">
        <div class="d-flex dashboard-blocks">
          {% for d_block in blocks %}
            {% include './snippets/dashboard-block.html' with block=d_block container_class='border-radius-5 dashboard-block bg-white d-flex' only %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Add more dashboard content here -->
{% endblock %}
