<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
        Vaybe
      {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/vaybe-default.css' %}" />
    {% block header %}

    {% endblock %}
  </head>
  <body>
    <div class="vaybe-template">
      {% block content %}
        <!-- Content from child templates will be inserted here -->
      {% endblock %}
    </div>
  </body>
</html>
